= 実施要領類 =
※適宜プロジェクトでカスタマイズして利用してください。

ここでは、プロジェクトでKanonを運用する規則を実施要領として、記述しています。

== チケットの登録 == 
プロジェクトに対する作業はチケットとして登録します。チケットの種類には、次のようなものがあります。
||チケットの種類||説明||
||タスク||設計、実装、試験、検討等、タスクを管理します||
||故障||バグを登録します||
||機能追加||機能追加の要望を登録します||
||仕様変更||仕様変更の要望を登録します||
||課題||プロジェクトを実行する上での課題、問題点を登録します||
||連絡||連絡事項を登録します。他チームからの質問対応をこのチケットで入力してもらうと良いでしょう||
チケットは、開始日と終了日で管理します。進捗管理用のレポート{9}を見ることにより、進捗状況を閲覧することができます。進捗状況には、遅延したチケットや期限が迫っているチケットを確認することができます。

== チケットの運用 ==
 * チケットはリーダが入力します。
 * 開始日と終了日を明確にします。(終了日を明確にしないと、いつまでのタスクが実施されない場合があります)
 * 担当者は、毎日タスクの実施状況を入力します。入力状況に応じて進捗率を入力します。進捗率の目安は、下記の通りとします。
  * 作成中: 0 ～ 69%
   * 文書、コードを作成中の状態です。
  * レビュー待ち: 70%
   * 作成は完了し、レビュー待ちの状態です。
  * レビュー後修正中: 80%
   * レビュー終了
  * レビュー後修正済み 90%
   * レビューの修正を反映し、レビュー待ちの状態
  * レビュー後確認完了100%
   * 最終確認が終了し、タスクが終了した状態。
 * 進捗状況欄には、進捗状況を入力します。「何をやるか」ではなく、何をやったか、また、スケジュール通りかどうかという観点で更新します。
 * アサイン、クローズは、進捗報告会議などで対面で内容を確認後、クローズします。

== 進捗報告 ==
 * メンバー全員を集めます。
 * 人数が多い場合は、サブグループ毎に行います。
 * レポート{9}を利用して担当者別のチケット一覧を印刷、配布します。
 * 各タスクについて、進捗状況をみていきます。ポイントは、
  * 黄(期限が1週間以内)のチケットについて、メンバが意識しているかどうか、また進んでいるかどうか確認します。
  * 赤(期限オーバー)のチケットについては、予定内にできなかった理由と遅延回復の見込みを明確にし、進捗状況欄に入力します。
    * これを繰り返すことにより、担当者にスケジュールを守らせる癖を付けさせます。

== コミットメッセージの指針 ==
Subversionを利用すると、コミットメッセージとチケットを連係させることができます。

コミットメッセージを記述する際には、1行目に概要とチケットの操作情報、3行目以降にチケットの詳細を記述します。例
{{{
(refs #3)文字化けのバグ修正

ログイン画面の文字化けを修正。
}}}
1行に(refs #3)とありますが、これはこのコミットログはチケットの3番に対応づいていることを示します。コミットログにこのように記述しておくと、チケットに自動的にコミットログが登録され、チェンジセットへのリンクが貼られます。3行目以降は、wiki形式を利用して記述することもできます。例えば、
{{{
(refs #4)セキュリティの強化

 * パスワードの暗号化
 * SQLインジェクションの防止機能の追加
 * パスワードロック機能の追加
}}}
のように書くこともできます。

== コミットメッセージを間違えたときには ==
adminユーザでファイルをTortoiseSVNでチェックアウトし、TortoiseSVNのメニューでShow Logを選択し、ログを表示します。変更したいログのリビジョンを右クリックし、Edit log messageを選択すると、ログを編集することができます。


adminユーザ以外にもログの編集を許可したい場合は、/var/opt/kanon/svn/<プロジェクト名>/hooks/pre-revprop-change.batを編集してください。

