.tickets tbody td.ストーリー {
  white-space: normal;
}

.tickets tbody td.タスク {
  white-space: normal;
}

.tickets tbody td.作業時間 {
  width: 4em;
}

.tickets tbody td.見積 {
  width: 2em;
}

.tickets tbody td.状態 {
  width: 6em;
}

.tickets tbody td.ticket {
  width: 3em;
}

